<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <meta name="author" content="Jose Garcia Aguilar">
    <meta name="locality" content="madrid, españa">
    <meta name="category" content="espadas, dagas, venta, contacto">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../images/favicon.jpg" type="image/jpg">
</head>
<body>
    <header>
            <img class="logo" src="../images/logo.jpg" width="512" height="512" alt="logo">    
            <h1>Aeterna Armeria</h1>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="../views/productos.html">PRODUCTOS</a></li>
                <li><a href="../views/presupuesto.html">PRESUPUESTO</a></li>
                <li><a href="../views/contacto.html" class="active">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="mapa">
            <img class="imagenMapa" src="../images/Mapa.png" width="874" height="575" alt="mapa">
        </div>
        <div class="contacto">
            <table>
                <tr>
                    <th colspan="2">Aeterna Armeria</th>
                </tr>
                <tr>
                    <td>Dirección</td>
                    <td>C/ de la Cruz Verde, 2,<br> 28005, Madrid</td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td>914 781 254</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>info@grupoaeterna.com</td>
                </tr>
            </table>
        </div>
    </main>
    <footer>
        <p class="pie">Dirección: C/ de la Cruz Verde 2, 28005 Madrid</p>
        <a href="https://www.facebook.com/?locale=es_ES">
            <img src="../images/facebook.jpg" alt="facebook" width="225" height="225" class="imgRedes">
        </a>
        <a href="https://www.instagram.com/">
            <img src="../images/insta.avif" alt="instagram" width="626" height="626" class="imgRedes">
        </a>
        <a href="https://twitter.com/?lang=es">
            <img src="../images/Twitter.jpg" alt="twitter" width="630" height="320" class="imgRedes">
        </a>
        <P class="pie">AVISO LEGAL. Los datos personales que facilite al Titular pueden 
            ser almacenados en bases de datos automatizadas o no, cuya titularidad 
            corresponde en exclusiva a el Titular, que asume todas las medidas de 
            índole técnica, organizativa y de seguridad que garantizan la confidencialidad, 
            integridad y calidad de la información contenida en las mismas de acuerdo con lo 
            establecido en la normativa vigente en protección de datos.</P>
    </footer>
</body>
</html>