<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <meta name="author" content="Jose Garcia Aguilar">
    <meta name="locality" content="madrid, españa">
    <meta name="category" content="espadas, dagas, venta">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../images/favicon.jpg" type="image/jpg">
</head>
<body>
    <!--El catálago está dispuesto en filas de tres. Diferenciado en tres tipos.-->
    <header>
        <img class="logo" src="../images/logo.jpg" width="512" height="512" alt="logo">    
        <h1>Aeterna Armeria</h1>
    <nav>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../views/productos.html" class="active">PRODUCTOS</a></li>
            <li><a href="../views/presupuesto.html">PRESUPUESTO</a></li>
            <li><a href="../views/contacto.html" >CONTACTO</a></li>
        </ul>
    </nav>
    </header>
    <main>
    <h2>DAGAS</h2>
    <section class="products">
        
        <div class="product">
            <img src="../images/daga1.jpg" width="800" height="800" alt="Daga 1">
            <h2>Daga de vela</h2>
            <p>La daga preferida de los tercios españoles.</p>
            <p>50€</p>
        </div>
        <div class="product">
            <img src="../images/daga2.jpg" width="800" height="800" alt="Daga 2">
            <h2>Puñal medieval</h2>
            <p>Fácil de usar y de esconder.</p>
            <p>50€</p>
        </div>
        <div class="product">
            <img src="../images/daga3.jpg" width="800" height="800" alt="Daga 3">
            <h2>Daga templaria de trébol</h2>
            <p>Inseparable arma de los soldados templarios.</p>
            <p>50€</p>
        </div>
    </section>
        <h2>ESCUDOS</h2>
    <section class="products">
        <div class="product">
            <img src="../images/escudo1.jpg" width="800" height="800" alt="Escudo 1">
            <h2>Escudo de cometa</h2>
            <p>El elegido por las caballerías por su capacidad para proteger al soldado hasta el pie. </p>
            <p>180€</p>
        </div>
        <div class="product">
            <img src="../images/escudo2.jpg" width="800" height="800" alt="Escudo 2">
            <h2>Broquel</h2>
            <p>El escudo utilizado por los soldados mas diestros. Gran versatilidad junto con una espada corta. </p>
            <p>160€</p>
        </div>
        <div class="product">
            <img src="../images/escudo3.jpg" width="800" height="800" alt="Escudo 3">
            <h2>Escudo de rodela</h2>
            <p>El más característico de los pueblos germanos. Robusto y seguro.</p>
            <p>145€</p>
        </div>
    </section>
        <h2>ESPADAS</h2>
    <section class="products">
        <div class="product">
            <img src="../images/espada1.jpg" width="800" height="800" alt="Espada 1">
            <h2>Espada corta</h2>
            <p>La más práctica y utilizada durante siglos. Ligera y perfecta para combinar con un broquel.  </p>
            <p>220€</p>
        </div>
        <div class="product">
            <img src="../images/espada2.jpg" width="500" height="500"  alt="Espada 2">
            <h2>Espada ropera francesa</h2>
            <p>El arma de los nobles franceses. Tan preciosa como letal.  </p>
            <p>300€</p>
        </div>
        <div class="product">
            <img src="../images/espada3.jpg" width="650" height="975" alt="Espada 3">
            <h2>Espada bastarda</h2>
            <p>La espada de los grandes guerreros. diseñada para ser usada sin escudo.  </p>
            <p>145€</p>
        </div>
    </section>
    
    </main>
    <footer>
        <p class="pie">Dirección: C/ de la Cruz Verde 2, 28005 Madrid</p>
        <a href="https://www.facebook.com/?locale=es_ES">
            <img src="../images/facebook.jpg" alt="facebook" width="225" height="225" class="imgRedes">
        </a>
        <a href="https://www.instagram.com/">
            <img src="../images/insta.avif" alt="instagram" width="626" height="626" class="imgRedes">
        </a>
        <a href="https://twitter.com/?lang=es">
            <img src="../images/Twitter.jpg" alt="twitter" width="630" height="320" class="imgRedes">
        </a>
        <P class="pie">AVISO LEGAL. Los datos personales que facilite al Titular pueden 
            ser almacenados en bases de datos automatizadas o no, cuya titularidad 
            corresponde en exclusiva a el Titular, que asume todas las medidas de 
            índole técnica, organizativa y de seguridad que garantizan la confidencialidad, 
            integridad y calidad de la información contenida en las mismas de acuerdo con lo 
            establecido en la normativa vigente en protección de datos.</P>
    </footer>
</body>
</html>